.other-photo {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ant-image-mask {
  border-radius: 50% !important;
}

.images-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.upload__btn {
  display: inline-block;
  width: auto !important;
}
